/* Container da barra lateral */
.container-menu {
  -fx-background-color: #e8e5e5;
  -fx-spacing: 40;
}

/* Container da Imagem */
.logo-menu {
  -fx-spacing: 300;
  -fx-alignment: center;
}

/* Botão de Sair / Css único pra ele */
.button-sair {
  -fx-background-color: #cccccc;
  -fx-spacing: 400;
}

/* Botão de sair */
.button-sair .button-menu {
  -fx-font-size: 16;
}

/* Botões do Menu / Container */
.button-menu {
  -fx-effect: dropshadow(three-pass-box, rgb(255, 255, 255), 2, 0, 0, 0);
  -fx-color: #000000;
  -fx-font-weight: bold;
  -fx-font-size: 13;
  -fx-font-family: "Arial";
  -fx-background-color: #d1d1d1;
  -fx-cursor: hand;
}

.button-menu:hover {
  -fx-background-color: #329e43;
  -fx-text-fill: white;
  -fx-cursor: hand;
}

.button-menu-special {
  -fx-effect: dropshadow(three-pass-box, rgb(255, 255, 255), 2, 0, 0, 0);
  -fx-color: #000000;
  -fx-font-weight: bold;
  -fx-font-size: 13;
  -fx-font-family: "Arial";
  -fx-background-color: #329e43;
  -fx-text-fill: white;
}

.container-form {
  -fx-background-color: #e8e5e5;
}

.form-title {
  -fx-font-size: 30;
  -fx-font-weight: bold;
  -fx-font-family: "Arial";
  -fx-text-fill: #373737;
  -fx-label-padding: 60 60 60 60;
}

/* Troca dos efeitos do campo de Text do MFX */
.mfx-text-field:focus-within {
  /* -fx-background-insets: 2; */
  -fx-border-color: #329e43;
  -fx-border-width: 1.5;
  -fx-border-insets: -0.5;
}
.mfx-text-field .floating-text {
  -fx-font-family: "Open Sans Regular";
  -fx-text-fill: -mfx-text-he;
}
.mfx-text-field:floating .floating-text {
  -fx-background-color: white;
}
.mfx-text-field:focus-within .floating-text {
  -fx-text-fill: #329e43;
}

.form-search {
  -fx-alignment: center;
  -fx-border-radius: 0;
  -fx-background-radius: 0;
}

.form-btn-search {
  -fx-alignment: center;
  -fx-background-color: #329e43;
  -fx-text-fill: white;
  -fx-font-size: 16px;
  -fx-background-radius: 0 8 8 0;
  -fx-border-radius: 0 0 0 8;
  -fx-cursor: hand;
}

.form-btn-new {
  -fx-alignment: center;
  -fx-background-color: #329e43;
  -fx-text-fill: white;
  -fx-font-size: 16px;
  -fx-background-radius: 8;
  -fx-padding: 10 20 10 20;
  -fx-border-radius: 8;
  -fx-cursor: hand;
}

.form-tableView-Column {
  -fx-border-color: #42ce4bc3;
}